# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*

# Environment
.env

# OS
.DS_Store

# IDE
.idea
*.iml

# Prisma
prisma/migrations/dev.db*

# NestJS
*.tsbuildinfo

# Local Swagger request examples (scratch)
ejemplos-swagger/
